.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input_style {
  width: 40%;
  padding: 13px 1px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
}
.submit_style{
  padding: 10px;
  background-color: lightblue;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
